<h2 align="center">Titulo: <%= @post.texto %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <h4 class="center"><strong>Contenido:</strong></h4>
 <hr>
 <%= simple_format(@post.texto) %>
 <%= link_to "Edit", edit_post_path(@post), class: "btn btn-xs btn-primary" %> |
<%= link_to 'Back', posts_path, class: "btn btn-xs btn-success" %>
<%= link_to "Delete", posts_path(@posts), method: :destroy, data: { confirm: "¿Seguro de eliminar el post de manera permanente?"}, class: "btn btn-xs btn-danger" %>

<p>
<strong>Redibbs:</strong>
<%= @post.compartir %>
</p>

<p>
<strong>Favs:</strong>
<%= @post.likes %>
</p>

<h2>Respuestas</h2>
<%= render @post.comentarios %>

<h2>Responder:</h2>
<%= render 'comentarios/form' %>
